$font-stack-main: 'Montserrat', sans-serif
$font-stack-headings: 'Bungee', cursive
$bg-primary: #ffffff
$font-primary: black
$gold: #FFD900

body
    font: 100% $font-stack-main
    font-size: 5vmin
    color: $font-primary
    background-color: $bg-primary

main
    min-height: 100vh
    display: grid
    grid-template-areas: ". a ."            ". b ."            ". c ."
    grid-template-rows: 20vh 10vh 1fr
    grid-template-columns: 1fr 80vw 1fr
    place-items: stretch
    gap: 1em

#shortener
    grid-area: b
    padding: 0
    margin: 0


#urlInput
    height: 100%
    width: calc(100% - 2em)
    padding: 0 1em 0 1em
    border: 0.1em solid black
    font-size: 1.2em


#copy
    font-family: $font-stack-headings
    grid-area: a
    align-self: flex-end
    justify-self: auto
    line-height: 1.4em
    font-size: 0.8em
    opacity: 0.7

#urlList
    grid-area: c
    padding-top: 1em
    display: flex
    align-items: center
    justify-content: flex-start
    align-content: flex-start
    flex-flow: row wrap

.link
    text-align: center
    margin: 1em 1em 1em 0
    display: flex
    flex-flow: column wrap
    justify-content: flex-start
    align-items: flex-start

    p, a, i
        border: 0.1em solid black
        max-width: 76vw
        overflow: auto
        margin: 0.1em
        padding: 0.3em

    p

        &:hover
            color: white
            background-color: black

    a
        font-weight: bold
        background-color: black
        color: #bc9add
        &:hover
            color: #885FAE
            background-color: white

    i
        width: 1em
        height: 1em
        margin: 0 0.6em 0 0

    .fa-copy

        box-shadow: 0.3em 0.3em 0px 0px green

        &:hover
            border: 0.1em solid green
            background-color: green
            color: white
            border-radius: 50%
            box-shadow: none         

    .remove

        box-shadow: 0.3em 0.3em 0px 0px red
        
        &:hover
            border: 0.1em solid red
            background-color: red
            color: white
            box-shadow: none






::-webkit-scrollbar
    height: 0.2em
    background-color: lightgrey

::-webkit-scrollbar-thumb
    background-color: #000
    color: black
